<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myxiaoapp.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
   
     
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.myxiaoapp.android" >
    </instrumentation>
 
    <application
        android:name=".XiaoYuanApp"
        android:allowBackup="true"
        android:logo="@drawable/logo"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />
		<meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ial9yzLRi3mm5VOGTdRGaXkq" />
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation" 
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainUIActivity"
            android:label="@string/title_activity_main_ui" >
        </activity>

        <!--
        	注册流程
       		school->detail->verify->success
       		(学校->个人信息->手机验证->注册成功) 
        -->
        <activity
            android:name=".RegisterSchoolActivity"
            android:label="@string/title_activity_register_school" >
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name=".CampusNewsActivity"
            android:label="@string/title_activity_campus_news" >
        </activity>
        <activity
            android:name=".CampusNewsDetailsActivity"
            android:label="@string/title_activity_campus_news_details"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity 
            android:name=".CampusNewsPerson"
            android:label="@string/title_activity_campus_person">
            
        </activity>
        <activity
            android:name=".RegisterDetailActivity"
            android:label="@string/title_activity_register_detail" >
        </activity>
        <activity
            android:name=".RegisterVerifyActivity"
            android:label="@string/title_activity_register_verify" >
        </activity>
        <activity
            android:name=".RegisterInputVerifyActivity"
            android:label="@string/title_activity_register_inputverify" >
        </activity>
        <activity
            android:name=".RegisterSetPassword"
            android:label="@string/title_activity_register_set_password" >
        </activity>
        <activity
            android:name=".RegisterSuccessActivity"
            android:label="@string/title_activity_register_success" >
        </activity>
        <!-- 注册完毕 -->


        <!--
          	找回秘密流程
          	phonenumber->verify->reset

          	(输入手机->获取手机验证码->重设密码)
        -->
        <activity
            android:name=".ForgetPWDVerifyActivity"
            android:label="@string/title_activity_forgetpwd_verify" >
        </activity>
        <activity
            android:name=".ForgetPWDInputVerifyNumber"
            android:label="@string/title_activity_forgetpwd" >
        </activity>
        <activity
            android:name=".ForgetPWDSetPWDActivity"
            android:label="@string/title_activity_forgetpwd_set_pwd" >
        </activity>
        <activity
            android:name=".SelectPicturesActivity"
            android:label="@string/title_activity_select_pictures" >
        </activity>
        <activity
            android:name=".PublishTextActivity"
            android:label="@string/title_activity_publish_text" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/feedback" >
        </activity>
        <activity android:name=".PersonListActivity" >
        </activity>
        <activity
            android:name=".SelectPicGroupActivity"
            android:label="@string/title_activity_select_pic_group" >
        </activity>
        <activity
            android:name=".PreviewImageActivity"
            android:label="@string/title_activity_show_image" >
        </activity>
        <activity
            android:name=".PublishImageActivity"
            android:label="@string/title_activity_publish_image"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ModifyPersonalSignActivity"
            android:label="@string/title_activity_modify_personal_sign" >
        </activity>
        <activity
            android:name=".AddNewFriendActivity"
            android:label="@string/title_activity_add_new_friend" >
        </activity>
        <activity
            android:name=".CourseTableActivity"
            android:label="@string/title_activity_course_table" >
        </activity>
        <activity
            android:name=".MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity
            android:name=".RemarkActivity"
            android:label="@string/title_activity_remark" >
        </activity>
        <activity
            android:name=".VerifyActivity"
            android:label="@string/title_activity_authenticate" >
        </activity>
        <activity
            android:name=".ChatPanelActivity"
            android:label="@string/title_activity_chat_panel" >
        </activity>

        <!-- baidu push start -->

        <receiver android:name="com.myxiaoapp.chathelper.PushMessageReceiver" >
            <intent-filter>

                <!-- receive push message -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- receive bind or setTags methods result -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <!-- receive notification click event -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- to make sure pushservice running normally -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>

        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="UUNrvCPo2WAc1zjEr3umKIZr" />

        <!-- baidu push end -->
        <activity
            android:name="com.myxiaoapp.chathelper.PushDemoActivity"
            android:label="@string/title_activity_push_demo" >
        </activity>
    </application>

</manifest>